@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Taviraj:300,400,700,300i,400i,700i");



/* wrap */

	.wrap {
		padding: 6rem 0 4rem 0 ;
		position: relative;
		margin: 0;
	}

		.wrap > .inner {
			margin: 0 auto;
			width: 80rem;
		}

		.wrap.style3 {
			background-color: #000;
			color: #bfbfbf;
			background-image: url("../img/landpage/banner.jpeg");
			/*background-image: url("../img/landpage/bg.jpeg");*/
			background-size: cover;
			background-attachment: fixed;
			background-position: center;
			position: relative;
		}

			.wrap.style3 input, .wrap.style3 select, .wrap.style3 textarea {
				color: #ffffff;
			}

			.wrap.style3 a {
				color: #5AA6ED;
			}

			.wrap.style3 strong, .wrap.style3 b {
				color: #ffffff;
			}

			.wrap.style3 h1, .wrap.style3 h2, .wrap.style3 h3, .wrap.style3 h4, .wrap.style3 h5, .wrap.style3 h6 {
				color: #ffffff;
			}

			.wrap.style3 blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			.wrap.style3 code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrap.style3 hr {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			.wrap.style3 .box {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrap.style3 input[type="submit"],
			.wrap.style3 input[type="reset"],
			.wrap.style3 input[type="button"],
			.wrap.style3 button,
			.wrap.style3 .button {
				background-color: #f2f2f2;
				color: #000 !important;
			}

				.wrap.style3 input[type="submit"]:hover,
				.wrap.style3 input[type="reset"]:hover,
				.wrap.style3 input[type="button"]:hover,
				.wrap.style3 button:hover,
				.wrap.style3 .button:hover {
					background-color: white;
				}

				.wrap.style3 input[type="submit"]:active,
				.wrap.style3 input[type="reset"]:active,
				.wrap.style3 input[type="button"]:active,
				.wrap.style3 button:active,
				.wrap.style3 .button:active {
					background-color: #e5e5e5;
				}

				.wrap.style3 input[type="submit"].alt,
				.wrap.style3 input[type="reset"].alt,
				.wrap.style3 input[type="button"].alt,
				.wrap.style3 button.alt,
				.wrap.style3 .button.alt {
					background-color: transparent;
					box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
					color: #ffffff !important;
				}

					.wrap.style3 input[type="submit"].alt:hover,
					.wrap.style3 input[type="reset"].alt:hover,
					.wrap.style3 input[type="button"].alt:hover,
					.wrap.style3 button.alt:hover,
					.wrap.style3 .button.alt:hover {
						background-color: rgba(255, 255, 255, 0.075);
					}

					.wrap.style3 input[type="submit"].alt:active,
					.wrap.style3 input[type="reset"].alt:active,
					.wrap.style3 input[type="button"].alt:active,
					.wrap.style3 button.alt:active,
					.wrap.style3 .button.alt:active {
						background-color: rgba(255, 255, 255, 0.2);
					}

					.wrap.style3 input[type="submit"].alt.icon:before,
					.wrap.style3 input[type="reset"].alt.icon:before,
					.wrap.style3 input[type="button"].alt.icon:before,
					.wrap.style3 button.alt.icon:before,
					.wrap.style3 .button.alt.icon:before {
						color: #999999;
					}

				.wrap.style3 input[type="submit"].special,
				.wrap.style3 input[type="reset"].special,
				.wrap.style3 input[type="button"].special,
				.wrap.style3 button.special,
				.wrap.style3 .button.special {
					background-color: #5AA6ED;
					color: #ffffff !important;
				}

					.wrap.style3 input[type="submit"].special:hover,
					.wrap.style3 input[type="reset"].special:hover,
					.wrap.style3 input[type="button"].special:hover,
					.wrap.style3 button.special:hover,
					.wrap.style3 .button.special:hover {
						background-color: #71b2f0;
					}

					.wrap.style3 input[type="submit"].special:active,
					.wrap.style3 input[type="reset"].special:active,
					.wrap.style3 input[type="button"].special:active,
					.wrap.style3 button.special:active,
					.wrap.style3 .button.special:active {
						background-color: #439aea;
					}

			.wrap.style3 label {
				color: #ffffff;
			}

			.wrap.style3 input[type="text"],
			.wrap.style3 input[type="password"],
			.wrap.style3 input[type="email"],
			.wrap.style3 select,
			.wrap.style3 textarea {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrap.style3 input[type="text"]:focus,
				.wrap.style3 input[type="password"]:focus,
				.wrap.style3 input[type="email"]:focus,
				.wrap.style3 select:focus,
				.wrap.style3 textarea:focus {
					border-color: #5AA6ED;
					box-shadow: 0 0 0 1px #5AA6ED;
				}

			.wrap.style3 .select-wrap:before {
				color: rgba(255, 255, 255, 0.25);
			}

			.wrap.style3 input[type="checkbox"] + label,
			.wrap.style3 input[type="radio"] + label {
				color: #bfbfbf;
			}

				.wrap.style3 input[type="checkbox"] + label:before,
				.wrap.style3 input[type="radio"] + label:before {
					background: rgba(255, 255, 255, 0.075);
					border-color: rgba(255, 255, 255, 0.25);
				}

			.wrap.style3 input[type="checkbox"]:checked + label:before,
			.wrap.style3 input[type="radio"]:checked + label:before {
				background-color: #5AA6ED;
				border-color: #5AA6ED;
				color: #ffffff;
			}

			.wrap.style3 input[type="checkbox"]:focus + label:before,
			.wrap.style3 input[type="radio"]:focus + label:before {
				border-color: #5AA6ED;
				box-shadow: 0 0 0 1px #5AA6ED;
			}

			.wrap.style3 ::-webkit-input-placeholder {
				color: #999999 !important;
			}

			.wrap.style3 :-moz-placeholder {
				color: #999999 !important;
			}

			.wrap.style3 ::-moz-placeholder {
				color: #999999 !important;
			}

			.wrap.style3 :-ms-input-placeholder {
				color: #999999 !important;
			}

			.wrap.style3 .formerize-placeholder {
				color: #999999 !important;
			}

			.wrap.style3 ul.alt li {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrap.style3 header p {
				color: #999999;
			}

			.wrap.style3 table tbody tr {
				border-color: rgba(255, 255, 255, 0.25);
			}

				.wrap.style3 table tbody tr:nth-child(2n + 1) {
					background-color: rgba(255, 255, 255, 0.075);
				}

			.wrap.style3 table th {
				color: #ffffff;
			}

			.wrap.style3 table thead {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			.wrap.style3 table tfoot {
				border-top-color: rgba(255, 255, 255, 0.25);
			}

			.wrap.style3 table.alt tbody tr td {
				border-color: rgba(255, 255, 255, 0.25);
			}

			.wrap.style3 .inner {
				position: relative;
				z-index: 2;
			}

			.wrap.style3:before {
				-moz-transition: opacity 3s ease;
				-webkit-transition: opacity 3s ease;
				-ms-transition: opacity 3s ease;
				transition: opacity 3s ease;
				-moz-transition-delay: 1.25s;
				-webkit-transition-delay: 1.25s;
				-ms-transition-delay: 1.25s;
				transition-delay: 1.25s;
				content: '';
				display: block;
				background-color: rgba(0, 0, 0, 0.95);
				height: 100%;
				left: 0;
				opacity: 0.75;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}

		@media screen and (max-width: 1280px) {

			.wrap > .inner {
				width: 75rem;
			}

		}

		@media screen and (max-width: 980px) {

			.wrap > .inner {
				width: 90%;
			}

			.wrap.style3 {
				background-attachment: scroll;
			}

		}

		@media screen and (max-width: 736px) {

			.wrap {
				padding: 3rem 0 1rem 0 ;
			}

		}
